.row {
  margin: 0px 20px !important;
  padding: 8px;
}

.ant-spin-dot > .ant-spin-dot-item {
  background-color: #000000;
}

.ant-spin-text {
  color: #000000;
}

.ant-spin-spinning {
  top: 50%;
  color: black;
  position: absolute;
}
